/*  your css code here. If applicable */
/* styles.css */
/* .container {
    width: 200px;
    height: 200px;
    position: relative;
    margin: 100px auto;
} */

.line {
    width: 200px;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: center ;
/*     animation: rotateLine 4s linear infinite; */
}
/* 
@keyframes rotateLine {
    0% {
        transform: translateX(-50%) rotate(0deg);
    }
    100% {
        transform: translateX(-50%) rotate(360deg);
    }
} */
